{% extends "dashboard/base_imp.html" %} {% set title = 'Vue globale' %} {% block content %} 
<!-- Equipement/Restauration -->
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        {{ header_section('equipement') }}
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                      <tbody>
                        {% for k,v in company.sections.equipement.furniture.items() %}
                          <tr>
                            <td>{{ k }}</td>
                            <td><span class="badge bg-blue">{{ v }}</span></td>
                            <td><span class="badge bg-blue">30 €</span></td>
                          </tr>
                        {% else %}
                          <tr>
                            <td colspan="4"><h2 class="lead text-center">Aucun mobilier supplémentaire trouvé :(</h2></td>
                          </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div><strong><a href="{{ url_for('dashboard', page='equipement') }}"><span class="pull-right badge bg-grey">Plus d'informations</a></span></strong>
        </div>
      </div>
    </div><!-- /.col -->
    <div class="col-md-6">
      <div class="box">
        {{ header_section('restauration') }}
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>Jour</th>
                        <th>Nombre de repas</th>
                      </tr>
                      <tr>
                        <td>Mercredi</td>
                        <td><span class="label label-primary">{{ company.sections.restauration.dishes.wednesday }} repas</span></td>
                      </tr>
                      <tr>
                        <td>Jeudi</td>
                        <td><span class="label label-primary">{{ company.sections.restauration.dishes.thursday }} repas</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div>
              <strong><a href="{{ url_for('dashboard', page='restauration') }}"><span class="pull-right badge bg-grey">Plus d'informations</a></span></strong>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- ./box-body -->
      </div><!-- /.box -->
    </div>
  </div>
  <!-- Transport/Badges -->
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        {{ header_section('transport') }}
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                {% if company.sections.transport.transports %}
                  <table class="table table-hover">
                      <tbody>
                      <tr>
                        <th>Lieu de départ</th>
                        <th>Lieu d'arrivée</th>
                        <th>Départ</th>
                        <th>Personnes</th>
                      </tr>
                      {% for transport in company.sections.transport.transports %}
                      <tr>
                        <td>{{ transport.departure_place }}</td>
                        <td>{{ transport.arrival_place }}</td>
                        <td>{{ transport.departure_time|format_dt }}</td>
                        <td><span class="label label-primary">{{ transport.nb_persons|to_human }}</span></td>
                      </tr>
                      {% endfor%}
                    {% else %}
                      <tr>
                        <td colspan="4"><h2 class="lead text-center">Aucune transport trouvé :(</h2></td>
                      </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><strong><a href="{{ url_for('dashboard', page='transport') }}"><span class="pull-right badge bg-grey">Plus d'informations</span></a></strong>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- ./box-body -->
      </div><!-- /.box -->
    </div>
    <div class="col-md-6">
      <div class="box">
        {{ header_section('badges') }}
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  {% if company.sections.badges.persons %}
                  <table class="table table-hover">
                    <tbody><tr>
                      <th>Nom complet</th>
                      <th>Fonction</th>
                      <th>Jours présents</th>
                    </tr>
                    {% for person in company.sections.badges.persons %}
                    <tr>
                      <td>{{ person.name }}</td>
                      <td>{{ person.function }}</td>
                      <td><span class="label label-primary">{{ person.days }}</span></td>
                    </tr>
                    {% endfor%}
                  {% else %}
                    <tr>
                      <td colspan="4"><h2 class="lead text-center">Aucune personne trouvée :(</h2></td>
                    </tr>
                  {% endif %}
                  </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div>
              <strong><a href="{{ url_for('dashboard', page='badges') }}"><span class="pull-right badge bg-grey">+ Plus d'informations</span></a></strong>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- ./box-body -->
      </div><!-- /.box -->
    </div>
  </div><!-- Programme/Bon de commande -->
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        {{ header_section('programme') }}
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table">
                    <tbody>
                      {% for k,v in company.sections.programme.events.items() %}
                        {% if v %}
                          <tr>
                            <td>
                              <span class="text-primary"><b>
                                {% if k == "networking" %}
                                Soirée Networking
                                {% else %}
                                Offre Conférence
                                {% endif %}
                              </b></span> <span class='label label-primary'>inscrit</span><br>
                            </td>
                            <td>
                              <span class="h4">
                              {% if k == "networking" %}
                                Gratuit
                                {% else %}
                                400 €
                              {% endif %}
                              </span>
                            </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><strong><a href="{{ url_for('dashboard', page='programme') }}"><span class="pull-right badge bg-grey">Plus d'informations</a></span></strong>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- ./box-body -->
      </div><!-- /.box -->
    </div>
    </div>
  </div>
{% endblock content %}
