{% extends "dashboard/base_imp.html" %} {% set title = 'Vue globale' %} {% block content %} 
<!-- Equipement/Restauration -->
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        {{ header_section('equipement') }}
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->

                  <ul class="nav nav-stacked">
                    <li>
                      <a href="#">Table haute <span class="pull-right badge bg-blue">0 €</span><span class="pull-right">&emsp;&emsp;</span><span class="pull-right badge bg-blue">1</span></a>
                    </li>
                    <li>
                      <a href="#">Table haute <span class="pull-right badge bg-blue">0 €</span><span class="pull-right">&emsp;&emsp;</span><span class="pull-right badge bg-blue">1</span></a>
                    </li>
                    <li>
                      <a href="#">Table haute <span class="pull-right badge bg-blue">0 €</span><span class="pull-right">&emsp;&emsp;</span><span class="pull-right badge bg-blue">1</span></a>
                    </li>
                  </ul>
                
              </div>
            </div>
          </div><strong><span class="pull-right badge bg-grey">Plus d'informations</span></strong>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
    <div class="col-md-6">
      <div class="box">
        {{ header_section('restauration') }}
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>Jour</th>
                        <th>Nombre de repas</th>
                      </tr>
                      <tr>
                        <td>Mercredi</td>
                        <td><span class="label label-primary">deux</span></td>
                      </tr>
                      <tr>
                        <td>Jeudi</td>
                        <td><span class="label label-primary">deux</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div>
              <strong><span class="pull-right badge bg-grey">Plus d'informations</span></strong>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- ./box-body -->
      </div><!-- /.box -->
    </div>
  </div>
  <!-- Transport/Badges -->
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        {{ header_section('transport') }}
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                {% if company.sections.transport.transports %}
                  <table class="table table-hover">
                      <tbody>
                      <tr>
                        <th>Lieu de départ</th>
                        <th>Lieu d'arrivée</th>
                        <th>Départ</th>
                        <th>Personnes</th>
                      </tr>
                      {% for transport in company.sections.transport.transports %}
                      <tr>
                        <td>{{ transport.departure_place }}</td>
                        <td>{{ transport.arrival_place }}</td>
                        <td>{{ transport.departure_time|format_dt }}</td>
                        <td><span class="label label-primary">{{ transport.nb_persons|to_human }}</span></td>
                      </tr>
                      {% endfor%}
                    {% else %}
                      <tr>
                        <td colspan="4"><h2 class="lead text-center">Aucune transport trouvé :(</h2></td>
                      </tr>
                    {% endif %}
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><strong><span class="pull-right badge bg-grey">Plus d'informations</span></strong>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- ./box-body -->
      </div><!-- /.box -->
    </div>
    <div class="col-md-6">
      <div class="box">
        {{ header_section('badges') }}
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  {% if company.sections.badges.persons %}
                  <table class="table table-hover">
                    <tbody><tr>
                      <th>Nom complet</th>
                      <th>Fonction</th>
                      <th>Jours présents</th>
                    </tr>
                    {% for person in company.sections.badges.persons %}
                    <tr>
                      <td>{{ person.name }}</td>
                      <td>{{ person.function }}</td>
                      <td><span class="label label-primary">{{ person.days }}</span></td>
                    </tr>
                    {% endfor%}
                  {% else %}
                    <tr>
                      <td colspan="4"><h2 class="lead text-center">Aucune personne trouvée :(</h2></td>
                    </tr>
                  {% endif %}
                  </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div>
              <strong><a href="{{ url_for('dashboard', page='badges') }}"><span class="pull-right badge bg-grey">+ Plus d'informations</span></a></strong>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- ./box-body -->
      </div><!-- /.box -->
    </div>
  </div><!-- Programme/Bon de commande -->
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        {{ header_section('programme') }}
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                            <span class="text-primary"><b>Offre conférence</b></span> <span class="label label-primary">Inscrit</span><br>
                        </td>
                        <td>
                            <span class="h4">400 €</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><strong><span class="pull-right badge bg-grey">Plus d'informations</span></strong>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- ./box-body -->
      </div><!-- /.box -->
    </div>
    </div>
  </div>
{% endblock content %}
