{% extends "dashboard/section.html" %}
{% set title = 'Equipement' %}
{% set titles = ['Chaises', 'Tables', 'Banque hôtesse', 'Tabourets', 'Porte manteau'] %}
{% set sizes = {
  9: [
    2, 1, 1, 1, 1
  ],
  12: [
    2, 1, 1, 1, 1
  ],
  18: [
    2, 1, 1, 1, 1
  ],
  24: [
    4, 2, 2, 2, 1
  ],
  30: [
    5, 3, 2, 3, 1
  ],
  36: [8, 4, 4, 4, 1]
} %}
{% block main %}
  <!-- /.box-header -->
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-md-4">
        <div class="info-box bg-aqua">
          <span class="info-box-icon">
            <i class="fa fa-bookmark-o"></i>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Stand</span>
            <span class="info-box-number">
              {{ company.duration|to_human|capitalize if company.duration else '?' }}
              jour(s)
            </span>
            <span class="progress-description">
              <span class="info-box-number">
                {{ '??' if not company.size or company.size == 0
                    else company.size }}
                m2
              </span>
            </div>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
        <div class="col-md-4">
          <div class="info-box bg-green">
            <span class="info-box-icon">
              <i class="glyphicon glyphicon-object-align-right"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Type de stand</span>
              <span class="info-box-number">{{ 'Non équipé' if company.equiped == 'non' else 'Equipé' }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-4">
          <div class="info-box bg-yellow">
            <span class="info-box-icon">
              <i class="fa fa-map-signs"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Enseigne</span>
              <span class="info-box-number">
                <a href="#" id="banner" data-type="text" data-pk="{{ company.id }}" style="color:white" data-url="/update_banner" data-title="Entrez votre bannière">
                  {{ company.banner }}
                </a>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Equipement</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <!-- /.col -->
                  <div class="col-md-12">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                      <div class="box-footer no-padding">
                        <table class="table table-responsive">
                          <tbody>
                            {% for t in titles %}
                              <tr>
                                <td>
                                  <span class="text-muted">{{ t }}</span>
                                </td>
                                <td>
                                  <span class="badge bg-grey">{{ sizes[company.size][loop.index0] }}</span>
                                </td>
                                <td>
                                  <span class="badge bg-grey">inclus</span >
                                </td>
                                <td>
                                  <i class="fa fa-remove" style="color:white"></i>
                                </td>
                              </tr>
                            {% endfor %}
                            {% for k, v in company.sections.equipement.furnitures.items() %}
                              {% if v.quantity != 0 %}
                                <tr>
                                  <td>{{ v.name }}</td>
                                  <td>
                                    <span class="badge bg-blue">{{ v.quantity }}</span>
                                  </td>
                                  <td>
                                    <span class="badge bg-blue">{{ v.price * v.quantity }}
                                      €</span>
                                  </td>
                                  <td>
                                    <i onclick="remove_furniture('{{ k }}')" class="fa fa-remove" style="color:red"></i>
                                  </td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Ajouter un équipement</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row r-center">
              <div class="col-md-4">

                <div class="form-group">
                  <label>item</label>
                  <select class="form-control select2 name" style="width: 100%;">
                    {% for k, v in company.sections.equipement.furnitures.items() %}
                      <option>{{ v.name }}
                        -
                        {{ v.price }}
                        €</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>quantité</label>
                  <select class="form-control select2 quantity" style="width: 100%;">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>total</label>
                  <p class="price">89 €</p>
                </div>
              </div>
              <!-- /.box -->
            </div>
          </div>

          <div class="box-footer">
            <button id="confirm_add" type="submit" class="btn btn-primary">Confirmer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}

{% block scripts %}
<script type="text/javascript">
  function update_price(price) {
    price = price.split(/€/g)[0].split(" - ")[1];
    price = Number($(".quantity").val()) * Number(price);
    $(".price").html(price + " €");
  }

  $("document").ready(function () {
    var $name = $('.name').select2();
    var $quantity = $('.quantity').select2();

    $name.on("select2:select", function (e) {
      update_price(e.params.data.text);
    });

    $quantity.on("select2:select", function (e) {
      update_price($(".name").val());
    });

  });

  $('#confirm_add').on('click', function (e) {
    e.preventDefault();
    var company = {{ company|tojson }};
    var furnitures = company.sections.equipement.furnitures;
    var value_quantity = Number($(".quantity").val());
    var value_name = $(".name").val();
    value_name = value_name.split(' - ')[0];
    for (var key in furnitures) {
      if (furnitures[key].name == value_name) {
        furnitures[key].quantity += value_quantity;
      }
    }

    $.ajax({
      type: "POST",
      url: "{{ url_for('update_company') }}",
      data: {
        "company": JSON.stringify(company)
      },
      success: function () {
        Notify("Changements sauvegardés.");
        setTimeout(function () {
          location.reload();
        }, 1000);
      }
    });
    return false;
  });

  function remove_furniture(name) {
    var r = confirm("Confirmer la suppresion ?");
    if (r) {
      var company = {{ company|tojson }};
      var furnitures = company.sections.equipement.furnitures;
      furnitures[name].quantity = 0;
      $.ajax({
        type: "POST",
        url: "{{ url_for('update_company') }}",
        data: {
          "company": JSON.stringify(company)
        },
        success: function () {
          Notify("Suppression confirmée.");
          setTimeout(function () {
            location.reload();
          }, 1000);
        }
      });
    }
  }
</script>
{% endblock scripts %}
