{% extends "dashboard/section.html" %}
{% set title = 'Job Board' %}
{% block main %}
  <div class="row">
    <div class="col-xs-12">
      <div class="box">

        <div class="box-group" id="accordion">
          {% set jobs = current_user.id | to_jobs %}
          {% if not jobs %}
            <h2 class="lead text-center" style="padding:20px">Aucune offre trouvée :(</h2>
          {% else %}
            {% for job in jobs %}
              <div class="panel box box-primary">
                <div class="box-header with-border">
                  <div class="row">
                    <div class="col-md-11">
                      <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{loop.index}}" class="{{ 'collapsed' if loop.first }}" aria-expanded="{{'true' if loop.first else 'false'}}">
                          {{ job.title }}
                          -
                          {{job.type}}
                          -
                          {{job.duration}}
                          -
                          {{job.location}}
                        </a>
                      </h4>
                    </div>
                    <div class="col-md-1">
                      <i onclick="remove_job('{{ job._id }}')" class="fa fa-remove" style="color:red"></i>
                    </div>
                  </div>
                </div>
                <div id="collapse_{{loop.index}}" class="panel-collapse collapse {{'in' if loop.first}}" aria-expanded="{{'true' if loop.first else 'false'}}">
                  <div class="box-body">
                    {% for line in job.description.splitlines() %}
                      {{line}}<br/>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Ajouter une offre d'emploi</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label>Titre de l'offre</label>
                <input type="text" class="form-control input-lg title" placeholder="Ex. Développeur Web Python (H/F)">
              </div>

              <div class="form-group">
                <label>Description de l'offre</label>
                <textarea class="form-control description" placeholder="Votre description..."></textarea>
              </div>

              <div class="form-group">
                <label>Lien url de l'offre (optionnel)</label>
                <input type="text" class="form-control title" placeholder="Ex. www.abc.xyz">
              </div>

              <div class="form-group">
                <label>Ville et/ou Pays</label>
                <input type="text" class="form-control location" placeholder="Ex. Grenoble"/>
              </div>

              <div class="form-group">
                <label>Type de l'offre</label>
                <select class="form-control select2 type">
                  <option>Stage</option>
                  <option>CDD</option>
                  <option>CDI</option>
                  <option>VIE</option>
                </select>
              </div>

              <div class="form-group">
                <label>Durée de la mission</label>
                <select class="form-control select2 duration" size="50">
                  <option selected="true">3 mois</option>
                  <option>6 mois</option>
                  <option>Indéfini</option>
                  <option>Autre</option>
                </select>
                <input type="text" class="duration_" style="display:none"/>
              </div>
            </div>
          </div>

          <div class="box-footer">
            <button id="confirm_job" type="submit" class="btn btn-primary">Confirmer</button>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </div>

{% endblock main %}
{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
      $('.duration').change(function () {
        if ($('.duration').val() == 'Autre') {
          $('.duration_').show();
        } else {
          $('.duration_').hide();
        }
      });
    });

    $('#confirm_job').on('click', function (e) {
      e.preventDefault();

      var dur;
      if ($('.duration').val() == 'Autre') {
        dur = $('.duration_').val();
      } else {
        dur = $('.duration').val()
      }

      var job = {
        company_id: "{{ current_user.id }}",
        title: $(".title").val(),
        type: $(".type").val(),
        duration: dur,
        description: $(".description").val(),
        location: $(".location").val()
      }

      if (job.title && job.type && job.duration && job.description && job.location) {
        $.ajax({
          type: "POST",
          url: "{{ url_for('add_job') }}",
          data: {
            "job": JSON.stringify(job)
          },
          success: function () {
            Notify("Changements sauvegardés.");
            setTimeout(function () {
              location.reload();
            }, 1000);
          }
        });
      } else {
        Notify("Veuillez remplir tous les champs.", null, null, "error");
      }
      return false;
    });

    function remove_job(job_id) {
      var r = confirm("Confirmer la suppresion ?");
      if (r) {
        $.ajax({
          type: "POST",
          url: "{{ url_for('remove_job') }}",
          data: {
            "id": job_id
          },
          success: function () {
            Notify("Suppression confirmée.");
            setTimeout(function () {
              location.reload();
            }, 1000);
          }
        });
      }
    }
  </script>
{% endblock scripts %}
