{% extends "admin/section.html" %} {% set title = 'Equipement' %} {% block main %} 
<!-- /.box-header -->
<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
            <h3 class="box-title">Détails du stand</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">

                  <div class="form-group">
                    <label>durée</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option>2 jours</option>
                      <option>1 jour : mercredi</option>
                      <option>1 jour : jeudi</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>taille</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option>9m2</option>
                      <option>12m2</option>
                      <option>18m2</option>
                      <option>27m2</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>stand livré</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option>équipé</option>
                      <option>nu</option>
                    </select>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>bandeau</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option>Avec</option>
                      <option>Sans</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>enseigne</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-tag"></i>
                      </div>
                      <input type="text" class="form-control" placeholder="ANSSI">
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                	<br>
                    <button type="submit" class="btn btn-primary">Confirmer</button>
                </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Equipement</h3>
        </div>

      	<div class="box-body">
      		<div class="row">
      			<div class="col-md-12">
      				<div class="row">
      					<!-- /.col -->
      					<div class="col-md-12">
      						<!-- Widget: user widget style 1 -->
      						<div class="box box-widget widget-user-2">
      							<div class="box-footer no-padding">
      								<ul class="nav nav-stacked">
      									<li>
      										<a href="#">Table haute <span class="pull-right">&emsp;&emsp;<i class="fa fa-remove" style="color:red"></i></span> <span class="pull-right badge bg-blue">0 €</span><span class="pull-right">&emsp;&emsp;</span><span class="pull-right badge bg-blue">1</span></a>
      									</li>
      									<li>
      										<a href="#">Banque à hôtesse <span class="pull-right">&emsp;&emsp;<i class="fa fa-remove" style="color:red"></i></span> <span class="pull-right badge bg-blue">0 €</span><span class="pull-right">&emsp;&emsp;</span><span class="pull-right badge bg-blue">1</span></a>
      									</li>
      									<li>
      										<a href="#">Chaise <span class="pull-right">&emsp;&emsp;<i class="fa fa-remove" style="color:red"></i></span><span class="pull-right badge bg-blue">0 €</span><span class="pull-right">&emsp;&emsp;</span><span class="pull-right badge bg-blue">2</span></a>
      									</li>
      									<li>
      										<a href="#">Portemanteau <span class="pull-right">&emsp;&emsp;<i class="fa fa-remove" style="color:red"></i></span><span class="pull-right badge bg-blue">0 €</span><span class="pull-right">&emsp;&emsp;</span><span class="pull-right badge bg-blue">1</span></a>
      									</li>
      									<li>
      										<a href="#">Rail de spots <span class="pull-right">&emsp;&emsp;<i class="fa fa-remove" style="color:red"></i></span><span class="pull-right badge bg-blue">0 €</span><span class="pull-right">&emsp;&emsp;</span><span class="pull-right badge bg-blue">1</span></a>
      									</li>
      									<li>
      										<a href="#">Tabouret haut <span class="pull-right">&emsp;&emsp;<i class="fa fa-remove" style="color:red"></i></span><span class="pull-right badge bg-blue">0 €</span><span class="pull-right">&emsp;&emsp;</span><span class="pull-right badge bg-blue">1</span></a>
      									</li>
      								</ul>
      							</div>
      						</div>
      					</div>
      				</div>
      			</div>
      </div>
    </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
            <h3 class="box-title">Ajouter un équipement</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">

                  <div class="form-group">
                    <label>item</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option>Banque à hôtesse	- 89 €</option>
                      <option>Chaise - 35 €</option>
                      <option>Chauffeuse - 67 €</option>
                      <option>Mange-debout	- 89 €</option>
                      <option>Portemanteau - 35 €</option>
                      <option>Ecran LCD 26" - 67 €</option>
                      <option>Ecran LCD 32" - 60 €</option>
                      <option>Ecran LCD 42" - 29 €</option>
                      <option>Ecran LCD 52" - 78 €</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>quantité</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>total</label>
                    <br><p>132 €</p>
                  </div>
                </div>

                <div class="col-md-3">
                  <br>
                  <button type="submit" class="btn btn-primary">Confirmer</button>
                </div>
              <!-- /.box -->
            </div>
          </div>
        </div>
      </div>  
    </div>

	{% endblock main %}