{% extends "admin/section.html" %} {% set title = 'Programme' %} {% block main %} 



<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Programme</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table">
            <tbody>
            <tr bgcolor="#F6FCFD
">
              <td>
              	<br>
              	<div class="col-md-1"><div class="product-img"><img alt="Product Image" src="../static/images/conf.png"></div></div>
              	<div class="col-md-11"><span class="text-primary "><b>Offre conférence</b></span> <span class="label label-primary">Inscrit</span><br><span class="text-muted ">Une conférence privilège vous permet de bénéficier d'une communication spécifique de la part de Forum Organisation sur les profils que vous souhaitez...</span><br><br></div>
              </td>
              <td><br><br><div style="text-align:center;"><font size="3">400 €</font></div></td>
              <td><br><br><div  style="text-align:center;"><button type="button" class="btn btn-block btn-default">Se désinscrire</button></div></td>
            </tr>


            <tr bgcolor="#F6FCFD
">
            	<td>
              	<br>
              	<div class="col-md-1"><div class="product-img"><img alt="Product Image" src="../static/images/to.png"></div></div>
              	<div class="col-md-11"><span class="text-primary "><b>Soirée networking</b></span> <span class="label label-primary">Inscrit</span><br><span class="text-muted ">La soirée networking aura lieu mercredi soir à partir de 18 h. C'est une occasion unique de participer à une conférence sur le rectrutement innovant...</span><br><br></div>
              </td>


              <td><br><br><div style="text-align:center;"><font size="3">Gratuit</font></div></td>
              <td><br><br><div  style="text-align:center;"><button type="button" class="btn btn-block btn-default">Se désinscrire</button></div></td>
            </tr>



             <tr>
             	<td>
              	<br>
              	<div class="col-md-1"><div class="product-img"><img alt="Product Image" src="../static/images/tv4.png"></div></div>
              	<div class="col-md-11"><span class="text-primary "><b>Web TV</b></span><br><span class="text-muted ">L'interview aura lieu pendant le salon et sera diffusée pendant le salon et après le salon sur notre plateforme WebTV Forum Organisation...</span><br><br></div>
              </td>



              <td><br><br><div style="text-align:center;"><font size="3">500 €</font></div></td>
              <td><br><br><div  style="text-align:center;"><button type="button" class="btn btn-block btn-primary">S'inscrire</button></div></td>
            </tr>




          
          </tbody></table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
</div>




	{% endblock main %}
