<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forum Rhône-Alpes | Se connecter</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/common.min.css') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/login.min.css') }}"></link>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body class="hold-transition login-page friendly">
    <div class="login-box">
      <div class="login-logo">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Forum Rhône-Alpes"></a>
      </div>
      <div class="login-box-body">
        <h3 class="login-box-msg">Se connecter à la plateforme</h3>
        <form action="{{ url_for('login') }}" method="post">
          <div class="form-group has-feedback">
            <input type="id" class="form-control" value="{{request.form.id}}" placeholder="Identifiant" name="id" required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Mot de passe" name="password" value="{{request.form.password}}" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          {% if error %}
            <div class="form-group has-feedback">
              {% if error == "wrong_password" %}
                <span class="text-red">Mauvais identifiants. Veuillez réessayer.</span>
              {% endif %}
              {% if error == "blank_fields" %}
                <span class="text-orange">Veuillez remplir tous les champs.</span>
              {% endif %}
              {% if error == "no_company_found" %}
                <span class="text-blue">Aucune entreprise n'est associée à cet identifiant.</span>
              {% endif %}
            </div>
          {% endif %}
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary btn-block btn-lg">Se connecter</button>
            </div>
          </div>
        </form>
      </div>
      <div>
        <a href="{{ url_for('index') ~ '#contact' }}" class="panel-footer text-center">Nouveau sur la plateforme?
          <span>Demandez à participer</span>
        </a>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='build/common.min.js') }}"></script>
</html>
