<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% extends "section.html" %} {% set section = 'Programme' %} {% block main %} <!-- /.box-header -->
	<!-- PRODUCT LIST -->
	 <!-- /.box-header -->
	<div class="box-body">
		<ul class="products-list product-list-in-box">
			<li class="item">
				<div class="product-img"><img alt="Product Image" src="../static/images/tv4.png"></div>
				<div class="product-info">
					<div class="col-md-12">
						<a class="product-title" href="javascript:void(0)">Offre conférence</a>
					</div>
					<div class="col-md-8">
						<span class="product-description">Une conférence privilège vous permet de bénéficier d'une communication spécifique de la part de Forum Organisation sur les profils que vous souhaitez...</span>
					</div>
					<div class="col-md-2" style="text-align:center;">
						400€
					</div>
					<div class="col-md-2">
						<button class="btn btn-default" style="display: block; margin: 0 auto;" type="button">Se désinscrire</button>
					</div><br>
					<br>
				</div>
			</li><!-- /.item -->
			<li class="item">
				<div class="product-img"><img alt="Product Image" src="../static/images/tv4.png"></div>
				<div class="product-info">
					<div class="col-md-12">
						<a class="product-title" href="javascript:void(0)">Web TV</a>
					</div>
					<div class="col-md-8">
						<span class="product-description">L'interview aura lieu pendant le salon et sera diffusée pendant le salon et après le salon sur notre plateforme WebTV Forum Organisation...</span>
					</div>
					<div class="col-md-2" style="text-align:center;">
						300€
					</div>
					<div class="col-md-2">
						<button class="btn btn-success" style="display: block; margin: 0 auto;" type="button">S'inscrire</button>
					</div><br>
					<br>
				</div>
			</li><!-- /.item -->
			<li class="item">
				<div class="product-img"><img alt="Product Image" src="../static/images/tv4.png"></div>
				<div class="product-info">
					<div class="col-md-12">
						<a class="product-title" href="javascript:void(0)">Soirée Networking</a>
					</div>
					<div class="col-md-8">
						<span class="product-description">La soirée networking aura lieu mercredi soir à partir de 18 h. C'est une occasion unique de participer à une conférence sur le rectrutement innovant..</span>
					</div>
					<div class="col-md-2" style="text-align:center;">
						Gratuit
					</div>
					<div class="col-md-2">
						<button class="btn btn-default" style="display: block; margin: 0 auto;" type="button">Se désinscrire</button>
					</div><br>
					<br>
				</div>{% endblock main %}
			</li>
		</ul>
	</div>
</body>
</html>