{% extends 'admin/master.html' %}
{% block body %}
  <table class="table table-striped table-bordered table-hover model-list">
    <thead>
      <tr>
        {% set stats = get_stats() %}
        <th class="span1">&nbsp;</th>
        {% for k, v in stats.items() %}
          <th class="column-header col-{{ k }}">{{ k|capitalize }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="list-buttons-column">
          Avancement
        </td>
        {% for k, v in stats.items() %}
          <td class="col-{{ k }}">{{ v }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% endblock %}
