{% extends 'admin/master.html' %}
{% block body %}
  <table class="table table-striped table-bordered table-hover model-list">
    <thead>
      <tr>
        {% set stats = get_stats() %}
        <th class="span1">Pole</th>
        {% for k, v in stats.get('fra').items() %}
          <th class="column-header col-{{ k }}">{{ k|capitalize }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for pole, v in stats.items() %}
        <tr>
          <td class="list-buttons-column">
            {{ pole }}
          </td>
          {% for section, stat in v.items() %}
            <td class="col-{{ section }}">{{ stat }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
