{% extends 'admin/master.html' %}
{% block body %}
  <table class="table table-striped table-bordered table-hover model-list">
    <thead>
      <tr>
        <th class="span1">&nbsp;</th>
        <th class="column-header col-equipement">
          Equipement
        </th>
        <th class="column-header col-transport">
          Transport
        </th>
        <th class="column-header col-restauration">
          Restauration
        </th>
        <th class="column-header col-badges">
          Badges
        </th>
        <th class="column-header col-programme">
          Programme
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="list-buttons-column">
          Avancement
        </td>
        {% set stats = get_stats() %}
        {% for k, v in stats.items() %}
          <td class="col-{{ k }}">{{ v }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% endblock %}
