{% extends "admin/base_imp.html" %}
{% set title = 'Vue globale' %}
{% block content %}
<!-- Equipement/Restauration -->
<div class="row">
    <div class="col-md-6">
        <div class="box">
        {{ header_section('equipement') }}
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                    </p>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
    <!-- ./box-body -->
        </div>
  <!-- /.box -->
    </div>
    <div class="col-md-6">
        <div class="box">
        {{ header_section('equipement') }}
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                    </p>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
    <!-- ./box-body -->
        </div>
  <!-- /.box -->
    </div>
</div>

<!-- Transport/Badges -->
<div class="row">
    <div class="col-md-6">
        <div class="box">
        {{ header_section('transport') }}
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                    </p>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
    <!-- ./box-body -->
        </div>
  <!-- /.box -->
    </div>
    <div class="col-md-6">
        <div class="box">
        {{ header_section('badges') }}
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                    </p>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
    <!-- ./box-body -->
        </div>
  <!-- /.box -->
    </div>
</div>

<!-- Programme/Bon de commande -->
<div class="row">
    <div class="col-md-6">
        <div class="box">
        {{ header_section('programme') }}
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                    </p>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
    <!-- ./box-body -->
        </div>
  <!-- /.box -->
    </div>
    <div class="col-md-6">
        <div class="box">
        {{ header_section('bon_de_commande') }}
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                    </p>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
    <!-- ./box-body -->
        </div>
  <!-- /.box -->
    </div>
</div>
{% endblock content %}